.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2rem;

    h3{
        display: block;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 10px;
    }
}

.bottom-column{
    display: flex;
    flex-direction: column;
}

.bottom-column a{
    color: #fafafa;
    text-decoration: none;
    padding-bottom: .4rem;
    font-size: large;
}