.popularcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.5rem;

    &.reverse {
        flex-direction: row-reverse;
    }
    .txt{
        width: 49%;
        padding-bottom: 1rem;
    }
    .images{
        display: flex;
        width: 49%;
        justify-content: space-between;
        img {
            border-radius: 6px;
            box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, .19);
            height: 350px;
            object-fit: cover;
            width: 49%;

            &:nth-child(2){
                position: relative;
                top: -16px;
            }
        }
    }
}